{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Services Section Start -->
      {% include 'services.html' %}
    <!-- Services Section End -->

    <!-- Features Section Start -->

    <!-- Features Section End -->    

    <!-- Portfolio Section -->

    <!-- Portfolio Section Ends --> 

    <!-- Start Video promo Section -->

    <!-- End Video Promo Section -->

    <!-- Start Pricing Table Section -->

    <!-- End Pricing Table Section -->

    <!-- Counter Section Start -->

    <!-- Counter Section End -->

    <!-- Team section Start -->

    <!-- Team section End -->

    <!-- testimonial Section Start -->

    <!-- testimonial Section Start -->

    <!-- Blog Section -->

    <!-- blog Section End -->

    <!-- Contact Section Start -->
      {% include 'contact.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
      {% include 'footer.html' %}
    <!-- Footer Section End --> 
    {% endblock %}
