{% load static %}
<section id="services" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Nossos Serviços</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">A mais de 56 anos oferecendo prestando serviços de qualidade aos seus clientes <br>Entre em contato e se informe.</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon">
                <i class="lnr lnr-pencil"></i>
              </div>
              <h4>Assessoria Jurídica</h4>
              <p>Em todas as Áreas do direito</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <div class="icon">
                <i class="lnr lnr-code"></i>
              </div>
              <h4>Assessoria Contábil</h4>
              <p>Rotinas Trabalhista - Escrita Fiscal - Imposto de Renda Pessoa Física e Jurídica</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="lnr lnr-mustache"></i>
              </div>
              <h4>Consultoria Financeira</h4>
              <p>Assessoria e Planejamento Tributário e Consultoria Financeira.</p>
            </div>
          </div>
        </div>
      </div>
    </section>